.indicativo {
    background-image: url(../img/opacity_back3.png);
    height: 490px;
    text-align: center;
    background-size: cover;
    background-color: #312225;
    padding: 200px 20px 30px 20px;
    color: #fff;   
}

.indicativo-titulo {
    position: relative;
    bottom: 34px;
    font-weight: bold;
    margin-bottom: 92px;
    font-family: 'Montserrat', serif;
    font-size: 55PX;
    line-height: 1;
}

.indicativo-texto {
    position: relative;
    bottom: 75px;
    right: 10px;
    max-width: 600px;
    margin: 0 auto 0 auto;
    font-size: 17px;
    font-weight: normal;

}

.indicativo-botao {
    display: block;
    position: relative;
    bottom: 35px;
    right: 6px;
    background-color: transparent;
    border: 1px solid rgb(245, 133, 4);
    font-size: 15px;
    width: 100%;
    max-width: 200px;
    line-height: 1.2;
    cursor: pointer;    
    text-decoration: none;
    margin: 0 auto;
    transition: .2s ease-in;
    border-radius: 5px;
    font-weight: 900;   
    color: #fff;    
    padding: 3px 12px;
   
}

.indicativo-botao:hover,
.indicativo-botao:focus {
    background: #fff;
    color: #333;
}


@media (max-width: 769px) {

    .indicativo-texto {
        float: auto;
        right: 0px;
        font-size: 14px;
    }
    
    .indicativo-cta {
        position: relative;
        bottom: 35px;
        right: 0px;        
        width: 100%;        
    }

    .indicativo-titulo {
        float: auto;
        font-size: 22px;
        right: 0px;
    }

    .indicativo-botao {
        font-size: 12px;
        width: 100%;
        max-width: 220px;
        line-height: 1.2;        
    }
}

  
 