.info_tecnica {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    margin: 20px 0px 0 25px;

}

.info_tecnica-diferencial {
    margin: 0 50px 60px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 300px;
    padding: 0 15px 15px 15px;   
    border-radius: 15px;
}

.info_tecnica-diferencial-titulo {
    color: #1a1818;
    font-size: 20px;      
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 0 30px 40px;   
    transform: translateX(-42px);
    text-transform: uppercase;
}

.info_tecnica-diferencial-texto {
    font-size: 14px;
    text-align: left;
}

.imagem {
    position: relative;
    left: -5px;
    top: 35px;
}

.info_tecnica-diferencial-titulo--tecnologia {
    margin-left: 50px;
}

.info_tecnica-diferencial-titulo--qualidade {
    margin-left: 50px;    
}

.info_tecnica-diferencial-titulo--especialistas {
    margin-left: 50px;
}

@media (max-width: 830px) {

    .tecnica {
        padding: 0;
        margin: 0px;
    }

    .info_tecnica {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;    
        align-items: center;   
    }

    .imagem {
        width: 30px;
        position: relative;
        left: 50px;
        top: 25px;
    }
    
    .info_tecnica-diferencial-titulo--tecnologia {
        margin-left: 90px;
        font-size: 14px ;      
    }    
    
    .info_tecnica-diferencial-titulo--qualidade {
        margin-left: 90px;  
        font-size: 19px ;  
     
    }    
    
    .info_tecnica-diferencial-titulo--especialistas {
        margin-left: 90px;
        font-size: 19px ;
    }
    
    .info_tecnica-diferencial-texto {
        margin-left: 50px;
        font-size: 19px ;
    }

}